<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="uY-TCTRy9KMJN7xZVdctA50-LGQL80lyxl6vZ7rtdcM" />
    <title><%= titlePage %> | WANZ OFC TECT Marketplace</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/logo.png" type="image/png">
    <% if (typeof midtransClientKey !== 'undefined' && midtransClientKey) { %>
        <script type="text/javascript"
            src="<%= midtransIsProduction ? 'https://app.midtrans.com/snap/snap.js' : 'https://app.sandbox.midtrans.com/snap/snap.js' %>"
            data-client-key="<%= midtransClientKey %>"></script>
    <% } %>
</head>
<body class="d-flex flex-column min-vh-100">
    <%- include('../partials/navbar') %>

    <main class="container mt-4 mb-5 flex-grow-1">
        <%- include('../partials/messages') %>
        <%- body %>
    </main>

    <%- include('../partials/footer') %>
    
    <div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 1090;">
    </div>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9198935842866616"
     crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <% if (typeof customScript !== 'undefined' && customScript) { %>
        <script src="/js/<%= customScript %>.js"></script>
    <% } %>
    <script src="/js/main.js"></script> 
</body>
</html>